.grid {
  width: 100%;
}

.md-button{
    font-size: 12px;
    line-height: 10px;
    height: 10px;
    margin-bottom: 20px;
    min-height: 20px;
}

.container{
    padding: 20px;
}

label {
     color: black;
    font-weight:bold
}

md-input-container{
    width: 48%;
}

input {
     border: none;
    border-bottom: 1px solid grey;
    height: 30px;
    width: 100%;
}